<%= javascript_importmap_tags %>
<%= javascript_include_tag "application", type: "module" %>


<div id="user-noteboard-container" data-controller="canvas">
    <div id="canvas" data-canvas-target="canvas">
        
    </div>
</div>
<style>

</style>

</head>
